<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="JsonFileIconRegistry" Guid="*" Win64="yes">
        <RegistryValue
          Root="HKCU"
          Key="Software\Classes\MD Forge.json\DefaultIcon"
          Type="string"
          Value="[INSTALLDIR]json-file-icon-forge.ico"
          KeyPath="yes"
        />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
